<!doctype html>
<html lang="en" data-theme="corporate">
  <head>
    <!-- prettier-ignore -->
    <!-- metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- tailwind -->
    <link href="{{ url_for('static',filename='lib/tailwind/build/out.css') }}" rel="stylesheet" />

    <!-- jquery -->
    <script src='{{url_for("static",filename="lib/jquery/jquery-3.7.1.min.js")}}'></script>
    <!-- htmx -->
    <script defer src='{{ url_for("static",filename="lib/htmx/htmx.min.js") }}'></script>
    <!-- alpine -->
    <script defer src='{{ url_for("static",filename="lib/alpine/alpine.min.js") }}'></script>

    <!-- Include Flatpickr from CDN(for date time picking in form)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>

  <body id="body">
    <!-- nav -->
    <!-- prettier-ignore -->
    {% include 'components/nav.html' %}
    {% include 'components/flash.html' %}
    <!-- the main container that keep all content(top level) -->
    <!-- prettier-ignore -->
    <div id="_content" class="min-h-full slide-it">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
