<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">💊 Pharma Plus</a>
    <a href="#" class="btn btn-ghost text-xl">🔍 Search</a>
    <a href="/about" class="btn btn-ghost text-xl">🩻 About</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="avatar btn btn-circle btn-ghost">
        <div class="w-10 rounded-full">
          ➕
          <img alt="Login " src="#" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-primary p-2 font-semibold shadow"
      >
        <li><a class="inline-block text-center">🚼 Profile</a></li>
        <li><a class="inline-block text-center">🏵️ Settings</a></li>
        <li><a class="inline-block text-center">📤 Logout</a></li>
      </ul>
    </div>
  </div>
</div>
