<!-- prettier-ignore -->
{% extends 'components/layout.html' %}
{% block content %}

{% if products %}

<div class="container mx-auto py-8">
  <h1 class="mb-4 text-2xl font-bold">Your Shopping Cart</h1>
  <table class="w-full table-fixed">
    <thead>
      <tr>
        <th class="w-1/4 border px-4 py-2">Product Name</th>
        <th class="w-1/4 border px-4 py-2">Description</th>
        <th class="w-1/4 border px-4 py-2">Price</th>
        <th class="w-1/4 border px-4 py-2">Quantity</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr class="">
        <td class="border px-4 py-2 hover:text-blue-500">
          <a href="{{ url_for('products.product',product_id=product.id ) }}"> {{ product.name }} </a>
        </td>
        <td class="border px-4 py-2">{{ product.description }}</td>
        <td class="border px-4 py-2">{{ product.price }}</td>
        {% if product.out_of_stock %}
        <td class="border bg-red-600 px-4 py-2">{{ product.quantity }} | available {{product.stock}}</td>
        {% else %}
        <td class="border px-4 py-2">{{ product.quantity }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="my-4">
    <h3 class="font-bold">Total Price: {{total_price}}</h3>
  </div>

  <!-- prettier-ignore -->
  {% if out_of_stock_exist %}
  <div class="mt-4">
    <h3 class="bg-red-500 p-4 font-bold">Some products are out of stock; Remove them to place an Order</h3>
  </div>
  {% else %}
  <div class="flex flex-col justify-center">
    <div x-data="{ open: false }" class="m-2">
      <button @click="open = ! open" class="btn btn-primary">Place Order Now</button>

      <div x-show="open" class="m-2">
        <form action="/place_order" method="POST" class="mx-auto w-full bg-slate-200 p-4">
          <div class="mb-4">
            <label for="delivery_address" class="block text-gray-700">Address</label>
            <textarea id="delivery_address" name="delivery_address" placeholder="Delivery address" required class="textarea textarea-primary w-full" placeholder="Address" aria-required=""></textarea>
          </div>
          <div class="mb-4">
            <label for="phone_number" class="block text-gray-700">Phone Number</label>
            <input id="phone_number" type="tel" name="phone_number" placeholder="Phone Number " class="input input-bordered input-primary w-full" required />
          </div>
          <div class="mb-4">
            <label for="payment_method" class="block text-gray-700">Payment</label>
            <select id="payment_method" name="payment_method" class="select select-bordered w-full" required>
              <option disabled selected>Select Payment Method</option>
              <option>Cash On Delivery</option>
            </select>
          </div>
          <button type="submit" class="inline-block bg-indigo-600 p-4 font-semibold uppercase tracking-wider text-white hover:bg-indigo-700 focus:outline-none active:bg-indigo-700">
            Confirm Order
          </button>
        </form>
      </div>
    </div>
    <!--  -->
    <div x-data="{ open: false }" class="m-2">
      <button @click="open = ! open" class="btn bg-orange-500">Place Order and Activate Monthly Auto Order</button>

      <div x-show="open" class="m-2">
        <form action="/place_order" method="POST" class="mx-auto w-full bg-slate-100 p-4">
          <div class="mb-4">
            <label for="delivery_address" class="block text-gray-700">Address</label>
            <textarea id="delivery_address" name="delivery_address" placeholder="Delivery address" required class="textarea textarea-primary w-full" placeholder="Address" aria-required=""></textarea>
          </div>
          <div class="mb-4">
            <label for="phone_number" class="block text-gray-700">Phone Number</label>
            <input id="phone_number" type="tel" name="phone_number" placeholder="Phone Number " class="input input-bordered input-primary w-full" required />
          </div>
          <div class="mb-4">
            <label for="payment_method" class="block text-gray-700">Payment</label>
            <select id="payment_method" name="payment_method" class="select select-bordered w-full" required>
              <option disabled selected>Select Payment Method</option>
              <option>Cash On Delivery</option>
            </select>
          </div>
          <button type="submit" class="hver:bg-orange-700 inline-block bg-orange-600 p-4 font-semibold uppercase tracking-wider text-white focus:outline-none active:bg-orange-700">
            Confirm Order
          </button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% else %}
<h2 class="bg-red-500 p-4 text-center font-bold">Cart is Empty</h2>
{% endif %}

<!-- prettier-ignore -->
{% endblock content%}
