{% extends 'components/layout.html' %} {% block content %}
<div class="container mx-auto px-4 py-4 sm:px-6 lg:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Active Orders</h1>
  <div class="py-4">
    <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Order ID</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Delivery Personnel</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Customer</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Delivery Date</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Delivery Status</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Delivery Address</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Total Items</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Total Bill</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Status</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Verification Code</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
          {% for order in orders %}
          <tr>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-gray-900">{{ order.id }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="ml-4 text-sm text-gray-900">{{ order.delivery_personnel_name }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="ml-4 text-sm text-gray-900">{{ order.customer_name }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-gray-900">{{ order.order_delivery_date.strftime('%B %d, %Y') }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-orange-600">{{ order.delivery_status }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-gray-900">{{ order.delivery_address }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-gray-900">{{ order.total_items }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-gray-900"><strong>৳</strong> {{ order.total_bill }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-orange-600">{{ order.status }}</div>
            </td>
            <td class="whitespace-nowrap px-6 py-4">
              <div class="text-sm text-orange-600">{{ order.verification_code }}</div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
